/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{background-color: #f2ea3a;}

p {
  line-height: 2rem;
  font-size: 18px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
  background-color: #591e5b;
}
footer h2, footer h4 {
  color: #f2ea3a; }

footer a{
transition: all 0.2s linear;}

footer a:link, footer a:active{
  color: rgba(255, 235, 59, 0.8);}

footer a:hover{
  color: rgba(255, 235, 59, 0.6);}

header nav ul.hide-on-med-and-down {
    min-height: 60px;
    width: 100%;
}

header nav ul.hide-on-med-and-down li {
    display: inline-flex;
    float: none;
}